:root {
    --background: #f7f5f5
}

* {
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 0;
    margin-right: 0;
    
}

body {
    margin: 0;
}

code {
    background-color: #f7f7f7;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
  }
  

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0px;
    background-color: var(--background);
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: 10;
    font-size: 20px;

}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    font-weight: bold;
    color: brown;
}

.navbar li {
    float: left;
}

.title {

    color: brown !important;
    font-weight: bolder;
    font-family: 'Dancing Script', cursive;
    font-size: 22px;
}

.Quran {
    color: brown;
    font-weight: 550;
}



.home {
    display: flex;
    justify-content: space-evenly;
    padding-top: 200px;
    padding-bottom: 300px;
    background-color: var(--background);
}

.home-left {
    max-width: 30%;


}

.home-right {
    max-width: 30%;

}

.heading {
    font-size: 50px;
    color: rgb(70, 70, 70);
}

p {
    font-size: 20px;
}

.documentation {
    margin-top: 300px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}



.code-block {
    border-radius: 5px;
    overflow-x: auto;
    font-size: 17px;
  }

.code-block-commented {
    border-radius: 5px;
    overflow-x: auto;
    font-size: 17px;

  }
  
  pre {
    margin: 0;
    white-space: pre-wrap;
  }
  
  pre code {
    display: block;
    padding: 20px;
    font-family: 'Courier New', monospace;
    overflow: hidden;
  }

  .break {
  content: "";
  display: block;
}

.tutorial-code {
    display: block
}

.none {
    display: none;
}

.show {
    display: block;
}

.languages {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    
}

.not-selected:hover {
    cursor: pointer;
    font-weight: bold;
    color: brown;
}

.selected {
    background-color: brown;
    color: white;
    border-radius: 10px;
    padding: 5px 10px;

}

.selected:hover {
    cursor: pointer;
    font-weight: 600;
}



.not-selected {
    padding: 5px 10px;

}

.contribution {
    padding-bottom: 0px;
}

h2 {
    padding-top: 50px;
    color: rgb(50, 50, 50);
}

img {
    width: 150px;
    display: block;
    margin: auto;
    margin-top: 75px;
    margin-bottom: 40px;
}

.docs-title {
    text-align: center;
}


@media (max-width: 1050px) {
    .home {
        flex-direction: column;
    }

    .home-left, .home-right, .documentation {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar a {
        padding: 5px;
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    .heading {
        size: 200px;
    }
}

@media (max-width: 1666px) {
    .code-block-commented {
        display: none;
    }
}

@media (min-width: 1666px) {
    .code-block {
        display: none;
    }
}

