* {
    font-family: 'Nunito Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

nav {
    position: sticky;
    top: 0px;
    background-color: orange;
    min-width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.navbar ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    color:black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover {

}

.navbar li {
    float: left;
}


.home {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.home-left {
    max-width: 25%;


}

.home-right {
    background-color: blue;
    max-width: 30%;
}

.heading {
    font-size: 40px;
    color: rgb(70, 70, 70);
}

p {
    font-size: 20px;
}

.documentation {
    margin-top: 300px;
    background-color: aqua;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
}
